# 1. O Endereço Principal (Comum a ambos)

AZURE_OPENAI_ENDPOINT=https://virtual-intelligence.openai.azure.com/

AZURE_OPENAI_API_KEY=



# 2. Configurações do GPT-4o (Chat)

AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o

OPENAI_API_VERSION=2025-01-01-preview



# 3. Configurações do Embedding (Busca Vetorial)

AZURE_EMBEDDING_DEPLOYMENT=text-embedding-3-small

AZURE_EMBEDDING_API_VERSION=2023-05-15



# Database

DB_NAME=ai_interactions

DB_USER=alef_admin

DB_PASS=

DB_HOST=postgres-ai

DB_PORT=5432

# Infrastructure
QDRANT_HOST=qdrant-knowledge
